###> symfony/framework-bundle ###
###> Generate a random secret at https://randomkeygen.com/ ###
KERNEL_CLASS='App\Kernel'
APP_SECRET='test_secret_key_for_testing'
DATABASE_URL="mysql://test_user:test_password@localhost:3306/through_line?serverVersion=8.0"
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
# Paths can stay as below; set JWT_PASSPHRASE in api/.env.test (do NOT commit)
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=test_passphrase_for_jwt_testing
###< lexik/jwt-authentication-bundle ###

